{
  "project_info": {
    "project_number": "465683453774",
    "project_id": "niwnergetstream",
    "storage_bucket": "niwnergetstream.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:465683453774:android:01f1903fb88ef2df16301f",
        "android_client_info": {
          "package_name": "com.example.stream_video_test"
        }
      },
      "oauth_client": [
        {
          "client_id": "465683453774-5uomuv04cj9l1l3pe0dtti7kp2bqejof.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyAA5BZa9CS2kkgHZVlb6wb2XAT2h0bMtDY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "465683453774-5uomuv04cj9l1l3pe0dtti7kp2bqejof.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}